*{
    box-sizing: border-box;
}
body{
    background-color: #141414;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.main{
    border-radius: 8px;
    width: 300px;
    height: 450px;
    background-color: #1f1f1f;
    position: relative;
    top: 70px;
    left: 450px;
}
img{
    width: 70px;
    border: none;
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 110px;
}
.box1{
    color: white;
    position: relative;
    top: 40px;
    left: 90px;
    font-size: 20px;
}
.box2{
    color: #afc868;
    position: relative;
    top: 45px;
    left: 80px;
}
.box3{
    color: white;
    position: relative;
    top: 65px;
    left: 50px;
    font-size: 13px;
}
.bottons{
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: center;
    position: relative;
    gap: 10px;
    top:75px;
    align-items: center;
}
.btn{
background-color: #333333;
height: 35px;
border: none;
border-radius: 8px;
width: 250px;
color: white;
}